 *, *::after , *::before
 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 .card{
    border-radius: 20px;
    background-color: white !important; 
 }
.quizz{
   padding: 0px 100px;
}

