
    main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.678);
    padding: 30px;
    border-radius: 15px;
    /*  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    }
    .main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%
    }
    .main h1{
    text-align: center;
    font-weight: 900;
    }
    .main > div > p{
    font-size: 16px;
    font-style: italic;
    }
    .metrics{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    }
    .metrics > div{
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0,0, 0.1);
    flex: 1;
    justify-content: space-evenly;
    width: 200px;
    padding: 15px;
    gap: 5px;

    }
    .metrics div>div{
    display: flex;
    align-items: center;
    gap: 10px;
    }
    .metrics div>p{
    font-size: 34px;
    font-weight: 700;
    }
    button{
    background-color: rgb(57, 57, 252);
    color: white;
    padding: 10px 25px;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    }
    .progress-bar{
    width: 100%;
    height: 15px;
    background-color: rgba(211, 211, 211, 0.897);
    border-radius: 10px;
    overflow: hidden;
    }