/* Simple Global Reset */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Issue #16: Basic Global CSS Reset - Partially addressed here */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}